name: PR CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}-pr
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  pr_ci:
    name: PR CI
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build Shared
        run: yarn shared-build

      - name: Typecheck
        run: yarn typecheck

      - name: Lint
        run: yarn lint

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          base: ${{ github.base_ref }}
          filters: |-
            server: [server/**, packages/**]
            packages: [packages/**]

      - name: Run Tests - UD.me Frontend
        if: ${{ steps.changes.outputs.server == 'true' }}
        run: yarn test:ci ./server/**
        env:
          NODE_OPTIONS: --max_old_space_size=3072

      - name: Run Tests - Shared Packages
        if: ${{ steps.changes.outputs.packages == 'true' }}
        run: yarn test:ci ./packages/**
        env:
          NODE_OPTIONS: --max_old_space_size=3072

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            :tada: All your tests were successful!

            We detected changes in the following services:
            ${{ steps.changes.outputs.server == 'true' && '- UD.me Frontend' || '' }}
            ${{ steps.changes.outputs.packages == 'true' && '- Shared Packages' || '' }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload test results to GitHub
        uses: actions/upload-artifact@v2
        continue-on-error: true
        with:
          name: ${{ github.sha }}
          path: |
            coverage/**/lcov.info
            coverage/**/coverage-final.json
          retention-days: 1
