name: Push CI

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.ref }}-${{ github.event_name }}-pr
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  pr_ci:
    name: Validate
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build NPM packages
        run: yarn dist

      - name: Typecheck
        run: yarn typecheck

      - name: Lint
        run: yarn lint

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          base: ${{ github.base_ref }}
          filters: |-
            server: [server/**, packages/**]
            packages: [packages/**]

      - name: Run Tests - UD.me Frontend
        if: ${{ steps.changes.outputs.server == 'true' }}
        run: yarn test:ci ./server/**
        env:
          NODE_OPTIONS: --max_old_space_size=3072

      - name: Run Tests - Shared Packages
        if: ${{ steps.changes.outputs.packages == 'true' }}
        run: yarn test:ci ./packages/**
        env:
          NODE_OPTIONS: --max_old_space_size=3072
